.list-box{
    background-color: #eeeeee;
}
.list-filters{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.filter1 , .filter2{
    margin: 5px 10px;
}
.list-devices-main{
    display: flex;
    justify-content: center;
}
.list-devices{
   width: 700px;
}